@model themenava.Models.place
@{
    Layout = null;
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Home/login");
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V10</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/login/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-50 p-b-90">
                @using (Html.BeginForm("addplace", "dashboard", FormMethod.Post,new {enctype="multipart/form-data" }))
                {
                <form class="login100-form validate-form flex-sb flex-w">
                    <span class="login100-form-title p-b-51">
                        Upload Tourist Place
                    </span>


                    <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">
                        @Html.TextBoxFor(model => model.title, new { placeholder = "Titile", @class = "input100" })
                        <div style="color:red;text-align:center">
                            @Html.ValidationMessageFor(model => model.title)
                        </div>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">
                        @Html.TextBoxFor(model => model.address, new { placeholder = "address", @class = "input100" })
                        <div style="color:red;text-align:center">
                            @Html.ValidationMessageFor(model => model.address)
                        </div>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">
                        @Html.TextBoxFor(model => model.placeid, new { placeholder = "Place ID", @class = "input100" })
                        <div style="color:red;text-align:center">
                            @Html.ValidationMessageFor(model => model.placeid)
                        </div>
                        <span class="focus-input100"></span>
                    </div>


                    <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                        @Html.TextAreaFor(model => model.description, 30, 10, new { placeholder = "description", @class = "input100" })
                        <div style="color:red; text-align:center">
                            @Html.ValidationMessageFor(model => model.description)
                        </div>
                        <span class="focus-input100"></span>
                    </div>




                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="file" name="imageFile" required>
                        </div>
                        <div style="color:red;text-align:center">
                            @Html.ValidationMessageFor(model => model.imagefile)
                        </div>
                    </div>



                    <div class="container-login100-form-btn m-t-17">
                        <input type="submit" name="name" class="login100-form-btn" value="Upload Place" />
                    </div>

                </form>
            }

            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Script/jquery.validate.min.js"></script>
    <script src="~/Script/jquery.validate.unobtrusive.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login/js/main.js"></script>

</body>
</html>

