@model IEnumerable<themenava.Models.place>
<html lang="en">
<head>

    <!--*********************************shop page*************************** -->
    <link rel="stylesheet" href="~/content/place/css/animate.css">

    <link rel="stylesheet" href="~/content/place/css/icomoon.css">

    <link rel="stylesheet" href="~/content/place/css/bootstrap.css">

    <link rel="stylesheet" href="~/content/place/css/magnific-popup.css">

    <link rel="stylesheet" href="~/content/place/css/flexslider.css">

    <link rel="stylesheet" href="~/content/place/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/content/place/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="~/content/place/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="~/content/place/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="~/content/place/css/shopstyle.css">

    <script src="~/content/place/js/modernizr-2.6.2.min.js"></script>
</head>

<body>



    <style>
        .nav-item a {
            color: #7366FF;
        }
    </style>



    <!--product section-->
    <div id="page">
        <div class="container-fluid">
            <div class="sticky-header">
                <header>
                    <nav class="navbar navbar-b navbar-trans navbar-expand-xl fixed-top nav-padding" style="display:flex; background-color:#F7F7FE" id="sidebar-menu">
                        <button class="navbar-toggler navabr_btn-set custom_nav" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation"><span></span><span></span><span></span></button>
                        <div class="navbar-collapse justify-content-end collapse hidenav" id="navbarDefault">
                            <ul class="navbar-nav navbar_nav_modify" style="float: right;" id="scroll-spy">
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("index", "home")">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("All_Hotel","places")">All_Hotels</a></li>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("contact", "home")">Contact</a></li>
                                <li style="margin-right:5rem;" class="nav-item buy-btn"><a class="nav-link js-scroll nav-link" href="@Url.Action("index", "places")" target="_blank">Tourist_Places</a></li>
                            </ul>
                        </div>
                    </nav>
                </header>
            </div>
        </div>
        <div>
            <h1 style="color:red; text-align :center; padding-top:12rem; font-weight:bolder;">Some Tourist Places</h1>
        </div>


        <div class="colorlib-shop">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-push-1 py-5">
                        <div class="row row-pb-lg py-5">
                            <!-- product  -->
                            @foreach (var item in Model)
                            {
                                <a href='@Url.Action("Hotel","places"),new { @item.placeid}'>
                                    <div class="shadow p-3 mb-5 bg-white rounded col-md-4 text-center ">
                                        <div class="product-entry">
                                            <div class="product-img" style=" background-image: url(@item.imageurl);">
                                                <p class="tag"><span class="new">New</span></p>
                                                <div class="cart">
                                                    <p>
                                                        <span><a href="@Url.Action("Hotel", "places",new {@item.placeid })" style="text-align:center;font-weight:bolder;">Nearest Hotels</a></span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="desc">
                                                <h3><a href="product-detail.html">@item.title</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }
                        </div>
                        <!-- pagination purpose  -->
                        <!-- <div class="row">
                          <div class="col-md-12">
                            <ul class="pagination">
                              <li class="disabled"><a href="#">&laquo;</a></li>
                              <li class="active"><a href="#">1</a></li>
                              <li><a href="#">2</a></li>
                              <li><a href="#">3</a></li>
                              <li><a href="#">4</a></li>
                              <li><a href="#">&raquo;</a></li>
                            </ul>
                          </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!--*******************shop page************************-->
    <script src="~/content/place/js/jquery.min.js"></script>

    <script src="~/content/place/js/jquery.easing.1.3.js"></script>

    <script src="~/content/place/js/bootstrap.min.js"></script>

    <script src="~/content/place/js/jquery.waypoints.min.js"></script>

    <script src="~/content/place/js/jquery.flexslider-min.js"></script>

    <script src="~/content/place/js/owl.carousel.min.js"></script>

    <script src="~/content/place/js/jquery.magnific-popup.min.js"></script>
    <script src="~/content/place/js/magnific-popup-options.js"></script>

    <script src="~/content/place/js/bootstrap-datepicker.js"></script>

    <script src="~/content/place/js/jquery.stellar.min.js"></script>

    <script src="~/content/place/js/main.js"></script>

</body>
</html>